.ui-block-a {
    width: 9% !important;

}

.ui-block-b {
    width: 47% !important;;
}

.ui-block-c {
    width: 12% !important;
}

.ui-block-d {
    width: 12% !important;
}

.ui-block-e {
    width: 20% !important;
}

.ui-input-text {
    margin: 0px !important;
}

input {
    font-weight: bold !important;
}