.ui-block-a {
    width: 10% !important;
    min-width: 50px !important;
}

.ui-block-b {
    width: 45% !important;;
}

.ui-block-c {
    width: 15% !important;
}

.ui-block-d {
    width: 10% !important;
}

.ui-block-e {
    width: 20% !important;
}

.ui-input-text {
    margin: 0px !important;
}